

.container {
    display: flex;
    height: 100vh;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.leftSection,
.rightSection {
    flex: 1;
    border-radius: 20px;
}

.leftSection {
    background-color: #d9d9d9;
}

.rightSection {
    background-color: #007e85;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.cardiograph {
    color: #007e85;
    padding: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    display: inline-block;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pro {
    color: #6eab36;
    display: inline-block;
}

.careLine {
    font-size: 30px;
    text-align: center;
    color: black;
}

.careLine span:nth-child(1) {
    color: #007e85;
}

.emailInput,
.passwordInput {
    width: 70%;
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 20px;
    padding-left: 20px;
}

.emailInput {
    margin-top: 30px;
    border: 1px solid #ccc;
    background-color: #d9d9d9;
}

.passwordInput {
    border: 1px solid #ccc;
    background: #d9d9d9;
}

.loginBtn {
    width: 60%;
    background-color: white;
    color: #007e85;
    padding: 15px;
    border: 1px solid #007e85;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 3%;
    margin-left: 130px;
    font-weight: bolder;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #007e85;
    color: white;
}
