.container {
    display: flex;
    height: 100vh;
    background-color: white;
    padding: 20px;
    border-radius: 500px;
    overflow: hidden;
}

.leftSection,
.rightSection {
    flex: 1;
    border-radius: 90px;
}

.leftSection {
    background-color: #D9D9D9;
}

.rightSection {
    background-color: #0b0e41;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.cardiograph {
    color: #007E85;
    padding: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    display: inline-block;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pro {
    color: #6EAB36;
    display: inline-block;
}

.careLine {
    font-size: 60px;
    text-align: center;
    color: black;
}

.careLine span:nth-child(1) {
    color: #007E85;
}

.signupInput {
    width: 60%;
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px; /* Adjusted margin */
    border-radius: 20px;
    padding-left: 80px;
    justify-content: center;
    align-items: center;
    color: black; /* Font color changed to black */
}

.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 5px;
}

.line .signupInput {
    width: 48%; /* Reduced width for smaller boxes */
}

.loginBtn {
    width: 50%;
    background-color: white;
    color: #0e1136;
    padding: 5px;
    border: 1px solid #007E85;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bolder;
    cursor: pointer;
    margin-right: 100px;
}
.signupbtn {
    width: 38%;
    background-color: white;
    color: #0e1136;
    padding: 5px;
    border: 1px solid #0e1136; 
    border-radius: 80px; /* This makes the button round */
    display: block;      /* Ensure the button behaves as a block element */
    margin: 0 auto;     /* Center the button */
    cursor: pointer;
    font-weight: bolder;     /* Change cursor to pointer on hover */
}

.signupbtn:hover {
    background-color: #464fce; /* Optional: Change background color on hover */
    color: white;               /* Optional: Change text color on hover */
}


.welcomeBack {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: -80px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.doctorImg {
    width: 400px;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 50%;
}
